header {
    background-color: #eee;
}

.room {
    margin: 0 0 20px 0;
}

.game .table th, .game .table td {
  line-height: 1.5;
  padding: 2rem;
  text-align: center;
  transition: background-color 0.4s ease;
  vertical-align: middle;
}

.game .header {
    cursor: pointer;
}

.game .selected {
    background-color: green;
}

.game .cellSelected {
    background-color: lightgreen;
}