<template name="game">
    <div class="container">
        {{> header}}
        <div class="row">
            <div class="col-sm-11" id="round"><h3>Round {{roundCurrent}}</h3></div>
            <div class="col-sm-1" id="timer"><h5>{{roundTimer}}</h5></div>
        </div>
        <div class="game">
            <div class="table-responsive">
                <table class="table table-bordered table-inverse">
                    <thead>
                        <tr>
                            <th {{selected}} {{hidden}}></th>
                            <th id="game_A_header" class="header">A</th>
                            <th id="game_B_header" class="header">B</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row" id="game_X_header" class="header">X</th>
                            <td id="game_AX_cell">Blue gets {{#if roundOdd}}+0{{else}}+15{{/if}}.<br>White gets {{#if    roundOdd}}+15{{else}}+0{{/if}}.</td>
                            <td id="game_BX_cell">Blue gets {{#if roundOdd}}-10{{else}}+10{{/if}}.<br>White gets {{#if   roundOdd}}+10{{else}}-10{{/if}}.</td>
                        </tr>
                        <tr>
                            <th scope="row" id="game_Y_header" class="header">Y</th>
                            <td id="game_AY_cell">Blue gets +5.<br>White gets +5.</td>
                            <td id="game_BY_cell">Blue gets +{{#if roundOdd}}20{{else}}0{{/if}}.<br>White gets +{{#if    roundOdd}}0{{else}}20{{/if}}.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="game-state">
            <p style="font-size:40pt">It is {{playerCurrent}}'s turn.<br>{{playerCurrent}}, select either {{selectionCurrent}}.</p>
            <button type="button" class="btn btn-primary" id="game-selection">Submit</button>
        </div>
        <hr>
        <div class="table-responsive">
            <table class="table table-bordered table-inverse">
                <thead>
                    <tr>
                        <th>Round #</th>
                        <th>Blue</th>
                        <th>White</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each scores}}
                        {{> scoreboard}}
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</template>

<template name="scoreboard">
    <tr>
        <th>{{round}}</th>
        <td>{{blue}}</td>
        <td>{{white}}</td>
    </tr>
</template>