<template name="player">
    <div class="container">
        {{> header}}
        <div class="col-md-10 col-xs-12">
            <div class="row">
                <div class="col-md-10 col-xs-12">
                    <h2>Participating in a session?</h2>
                </div>
            </div>
            <!--<div class="row">
                <div class="col-md-3 col-xs-4">
                    <h3 style="margin: 12px 0 0 0">Preferred side</h3>
                </div>
                <div class="col-md-7 col-xs-8 btn-group" data-toggle="buttons" id="side">
                    <label class="btn btn-info btn-lg">
                        <input type="radio" name="side" value="blue">Blue
                    </label>
                    <label class="btn btn-info btn-lg">
                        <input type="radio" name="side" value="white">White
                    </label>
                    <label class="btn btn-info btn-lg">
                        <input type="radio" name="side" value="either">No Preference
                    </label>
                </div>
            </div>-->
            <div class="row">
                <div class="col-md-6 col-xs-7">
                    <h3 style="margin: 6px 0 3px 0">Rooms</h3>
                </div>
                <div class="col-md-3 col-xs-4">
                    <h4 style="margin: 9px 0 3px 0">Started</h4>
                </div>
                <div class="col-md-1 col-xs-1">
                    <h4 style="margin: 9px 0 3px 0">Participants</h4>
                </div>
            </div>
            {{#each rooms}}
                {{> room}}
            {{/each}}
            <br /><br /><br /><br />
            <h2>Matches</h2>
            {{#each matches}}
                {{> match}}
            {{/each}}
            <br /><br /><br /><br />
            <div class="row">
                <div class="col-md-offset-3 col-md-7 col-xs-offset-4 col-xs-8">
                    <button class="btn btn-secondary-outline" type="submit" id="moderate">Moderate a session</button>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="match">
    <div class="row">
        <div class="col-md-6 col-xs-7">
            <button class="btn btn-success btn-lg btn-block match">Match in {{roomName}}: {{matchID}}</button>
        </div>
    </div>
</template>

<template name="room">
    <div class="row">
        <div class="col-md-6 col-xs-7">
            <button class="btn btn-primary btn-lg btn-block room" {{joinable}}>Join {{name}}</button>
        </div>
        <div class="col-md-3 col-xs-4">
            <h4 id="time">{{started}}</h4>
        </div>
        <div class="col-md-1 col-xs-1">
            <h4 id="players">{{players}}</h4>
        </div>
    </div>
</template>

<template name="roomMod">
    <div class="row">
        <div class="col-md-6 col-xs-7">
            <button class="btn btn-primary btn-lg btn-block room">Moderate {{name}}</button>
        </div>
        <div class="col-md-3 col-xs-4">
            <h4 id="time">{{started}}</h4>
        </div>
        <div class="col-md-1 col-xs-1">
            <h4 id="players">{{players}}</h4>
        </div>
    </div>
</template>

<template name="moderator">
    <div class="container">
        {{> header}}
        <div class="col-md-10 col-xs-12">
            <h2>Moderating a session?</h2>
            <form class="form-horizontal">
                <fieldset class="form-group form-group-lg row">
                    <label class="col-md-3 col-xs-4 control-label" for="username">Username</label>
                    <div class="col-md-5 col-xs-6">
                        <input class="form-control" type="text" id="username">
                    </div>
                </fieldset>
                <fieldset class="form-group form-group-lg row">
                    <label class="col-md-3 col-xs-4 control-label" for="password">Password</label>
                    <div class="col-md-5 col-xs-6">
                        <input class="form-control" type="password" id="password">
                    </div>
                </fieldset>
                <fieldset class="form-group form-group-lg row">
                    <div class="col-md-offset-3 col-md-5 col-xs-offset-4 col-xs-6">
                        <button class="btn btn-primary btn-lg" type="submit">Login</button>
                    </div>
                </fieldset>
            </form>
            <button class="btn btn-danger btn-lg" id="create">Create a room</button> <!-- this button must be removed -->
            {{#each roomsMod}}
                {{> roomMod}}
            {{/each}}
            <br /><br /><br /><br />
            <div class="row">
                <div class="col-md-offset-3 col-md-5 col-xs-offset-4 col-xs-6">
                    <button class="btn btn-secondary" type="submit" id="back">Participate as a player</button>
                </div>
            </div>
        </div>
    </div>
</template>