/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
  padding-top: 70px;
}
footer {
  padding: 30px 0;
}

.navbar-nav {
  float: right;
}


/*
 * Handle the game's table.
 */

.game .table th, .game .table td {
  line-height: 1.5;
  padding: 2rem;
  text-align: center;
  transition: background-color 0.4s ease;
  vertical-align: middle;
}

.hidden {
  display: none;
}

#timer {
  text-align: right;
}